<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="z3bra">
	<meta name="robots" content="noindex,nofollow" />
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="/partage.css" />
	<link rel="icon" type="image/ico" href="/favicon.ico" />
	<title>Partage</title>
</head>
<body>
	<header>
		<img id="logo" src="/partage.png" />
		<h1>partage</h1>
	</header>
	<form enctype="multipart/form-data" method="post">
		<div id="dropzone"></div>
		<div id="fallbackform" class="dropzone">
			<input id="filebox" name="file" type="file" multiple/>
			<input id="output" name="output" type="hidden" value='html' />
			<input type="submit" value="Upload"/>
		</div>
		<section id="formsettings">
			<label for="expiry"> Destroy after </label>
			<select id="expiry" name="expiry">
		                <option value="900"> 15 minutes </option>
		                <option value="3600"> 1 hour </option>
		                <option value="28800"> 8 hours </option>
		                <option value="86400" selected> 1 day </option>
		                <option value="604800"> 1 week </option>
			</select>
		</section>
	</form>
	<p>File size limited to {{.Maxsize}}.</p>
	<div id="uploads">{{if .Links}}
		<ul>
	        {{range .Links}}<li><a href="{{.}}">{{.}}</a></li>{{end}}
		</ul>
        {{end}}</div>
</body>
</html>
