<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="z3bra">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="/partage.css" />
	<link rel="icon" type="image/png" href="/favicon.ico" />
	<title>Partage</title>
</head>
<body>
	<header>
		<img id="logo" src="/partage.png" />
		<h1>partage</h1>
	</header>
	<p>
		Use the box below to upload and share files. File size is
		limited to {{.Maxsize}}.
	</p>
	<form enctype="multipart/form-data" method="post">
		<input id="uck" name="uck" type="file" multiple/>
		<input id="output" name="output" type="hidden" value='html' />
		<input type="submit" value="...Share"/>
	</form>
</body>
</html>
