<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="z3bra">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" type="image/png" href="/favicon.png" />
	<title>Partage</title>
</head>
<body>
	<h1>Partage</h1>
	<p>
		Use the box below to upload and share files. File size is
		limited to {{.Maxsize}}.
	</p>
	<form>
		<label for="uck">Select file(s) to share</label>
		<input id="uck" type="file" multiple=true/>
		<input type="submit" value="Upload!"/>
	</form>
</body>
