body {
	padding: 5%;
	margin: auto;
	max-width: 540px;
	font-family: serif;
	font-size: 1.5rem;
	text-align: center;
	background-color: #eeeeee;
	color: #222222;
}

header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	align-items: center;
	align-content: center;
}

section {
	display: flex;
	justify-content: flex-end;
	font-size: initial;
}

section#formsettings > * {
	margin-top: 20px;
	margin-left: 20px;
}

img#logo {
	height: 100%;
	max-height: 30vh;
}

h1 {
	font-size: 4.0rem;
}

#uploads {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#uploads > ul {
	list-style: none;
	text-align: left;
	padding: 0;
}

#uploads > button {
	align-self: flex-end;
	margin-right: 10%;
}

.dropzone {
	padding-top: 60px;
	padding-bottom: 60px;
	border: 2px dashed #888888;
	border-radius: 8px;
	text-align: center;
	margin: auto;
	color: #888888;
}

.dropzone.dragover {
	color: #222222;
	border-color: #222222;
}

/* font attributes are not inherited by default */
input, input::file-selector-button {
	text-align: inherit;
	font-family: inherit;
	font-size: inherit;
}

@media (min-aspect-ratio: 18/9) {
	header {
		flex-direction: row;
	}
	h1 { font-size: 3rem; margin-right: 10px; }
	img#logo {
		height: 50%;
		max-height: 20vh;
		order: 2;
	}
}

@media (prefers-color-scheme: light) {
	a { color: black; }
	body {
		color: #222222;
		background-color: #eeeeee;
	}
}

@media (prefers-color-scheme: dark) {
	a { color: white; }
	body {
		color: #eeeeee;
		background-color: #222222;
	}
}
